@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin inter {
    font-family: "Inter", sans-serif;
}
@mixin texteffect{
    

    background: linear-gradient(to bottom right, #FFFFFF 0%, #C488FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

@mixin upper {
    text-transform: uppercase;
}

@mixin regular {
    font-weight: 400;
}

@mixin medium {
    font-weight: 500;
}

@mixin semi {
    font-weight: 600;
}

@mixin bold {
    font-weight: 700;
}

@mixin dflex {
    display: flex;
}

@mixin underline {
    text-decoration: underline;
}

@mixin dfw {
    display: flex;
    flex-wrap: wrap;
}

@mixin img-white {
    filter: brightness(0) invert(1);
}

@mixin all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin rotate {
    transform: rotate(180deg);
}


@mixin img-green {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg) brightness(102%) contrast(104%);
}
@mixin img-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg) brightness(102%) contrast(104%);
}
@mixin img-blue {
    filter: brightness(0) saturate(100%) invert(9%) sepia(87%) saturate(5689%) hue-rotate(240deg) brightness(75%) contrast(86%);
}